{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"."
				],
				"alias": {
					"utils": "./src/utils",
					"components": "./src/components",
					"containers": "./src/containers",
					"specUtils": "./src/specUtils"
				}
			}
		]
	]
}