@mixin adaptive-font-size($min-vw, $max-vw, $min-size, $max-size) {
	$min-vw-percent: $min-size / $min-vw;
	$max-vw-percent: $max-size / $max-vw;

	@if ($min-size == $max-size) {
		font-size: $min-size;
	} @else if ($min-size < $max-size and $min-vw < $max-vw) {
		font-size: ($min-size + $max-size) / ($min-vw + $max-vw) * 100vw;
		@media (max-width: #{$min-vw}px) {
			font-size: #{$min-size}px;
		}

		@media (min-width: #{$max-vw}px) {
			font-size: #{$max-size}px;
		}
	} @else {
		@error ("
		min-size: #{$min-size}, max-size: #{$max-size},
		 min-vw: #{$min-vw}, max-vw: #{$max-vw},
		  I think you know how to do
		  ");
	}
}